<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тема: [[${topic.title}]] - TechTalker</title>
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/icon.ico">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="d-flex flex-column min-vh-100" style="background: url('/images/new_topic.jpeg'); background-size: cover;">

<div class="top-left-buttons mt-3">
    <a class="btn btn-custom" th:href="@{/}">Главная страница</a>
    <a class="btn btn-custom" th:href="@{/contacts}">Контакты</a>
</div>

<div class="top-right-buttons">
    <div sec:authorize="isAuthenticated()" class="d-inline">
        <form th:action="@{/logout}" method="post" class="d-inline">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button type="submit" class="btn btn-custom me-2">Выйти</button>
        </form>
        <div sec:authorize="hasRole('ADMIN')" class="d-inline">
            <a class="btn btn-custom ms-2" th:href="@{/admin}">Admin</a>
        </div>
        <div sec:authorize="hasRole('USER')" class="d-inline">
            <a class="btn btn-custom ms-2" th:href="@{/new_topic}">Добавить новую тему</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="card mb-4">
        <div class="card-header bg-dark text-white text-center">
            <h2>Информация о теме</h2>
        </div>
        <div class="card-body bg-light custom-border text-start">
            <h5 class="card-title text-title">Название: [[${topic.title}]]</h5>
            <p class="card-text">Автор: <span class="text-info">[[${topic.creatorName}]]</span></p>
            <p class="card-text">Дата создания: <span class="text-secondary">[[${#temporals.format(topic.createdAt, 'dd.MM.yyyy HH:mm')}]]</span></p>
            <p class="card-text">Статус: <span class="text-warning">[[${topic.status}]]</span></p>
        </div>
    </div>

    <div class="messages mb-4">
        <h3 class="mb-3 text-start">Сообщения темы:</h3>
        <div th:each="message, stat : ${messages}"
             th:class="${stat.index % 2 == 0 ? 'message right mb-3 p-3 border rounded bg-white' : 'message left mb-3 p-3 border rounded bg-white'}">
            <div class="message-details mb-2">
                <p class="mb-1"><strong>Автор сообщения:</strong> <span class="text-primary" th:text="${message.user.username}">Пользователь</span></p>
                <p class="mb-1 text-muted"><strong>Дата и время:</strong> <span th:text="${#temporals.format(message.createdAt, 'dd.MM.yyyy HH:mm')}">01.01.2024</span></p>
            </div>
            <p class="message-explanation text-start">Текст сообщения:</p>

            <p class="message-content mb-2 text-start" th:text="${message.content}">Текст сообщения</p>

        </div>
    </div>

    <div class="new-message mb-4">
        <h3 class="mb-3 text-start">Добавить новое сообщение:</h3>
        <form th:action="@{/topics/{topicId}/messages/add(topicId=${topic.id})}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="content" class="form-label">Ваше сообщение</label> <!-- Метка с атрибутом for, соответствующим id textarea -->
                <textarea id="content" name="content" class="form-control" rows="3" placeholder="Напишите здесь ваше сообщение..." required></textarea>
            </div>
            <div class="mb-3">
                <label for="files" class="form-label">Прикрепить файлы (необязательно)</label>
                <button type="button" class="btn btn-custom" onclick="document.getElementById('files').click();">Выбрать файлы</button>
                <input type="file" name="files" class="form-control" id="files" multiple style="display: none;">
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>

<footer class="mt-auto text-center py-3">
    <p>&copy; 2024 TechTalker Forum</p>
</footer>
</body>
</html>
