<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TechTalker Home</title>
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/icon.ico">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<style>
    body::before {
        background: url('/images/home_page.jpeg');
    }
</style>

<div th:if="${successMessage}" class="alert alert-success" role="alert">
    <p th:utext="${successMessage}"></p>
</div>

<header class="bg-dark text-light py-3 d-flex justify-content-between">
    <div class="top-left-buttons ml-3">
        <a class="btn btn-custom me-2" th:href="@{/FAQ}">FAQ</a>
        <a class="btn btn-custom me-2" th:href="@{/first_aid}">Первая помощь</a>
    </div>
    <div class="top-right-buttons mr-3">
        <div sec:authorize="!isAuthenticated()">
            <a class="btn btn-custom me-2" th:href="@{/login}">Вход</a>
            <a class="btn btn-custom" th:href="@{/registration}">Регистрация</a>
        </div>

        <div sec:authorize="isAuthenticated()" class="d-inline">
            <form th:action="@{/logout}" method="post" class="d-inline">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button type="submit" class="btn btn-custom me-2">Выйти</button>
            </form>

            <div sec:authorize="hasRole('ADMIN')" class="d-inline">
                <a class="btn btn-custom ms-2" th:href="@{/admin}">Admin</a>
            </div>
            <div sec:authorize="hasRole('USER')" class="d-inline">
                <a class="btn btn-custom ms-2" th:href="@{/new_topic}">Создать новую тему</a>
            </div>
        </div>
    </div>
</header>

<div class="container mt-5">
    <header class="text-center my-4">
        <div sec:authorize="isAuthenticated()">
            <h1>Добро пожаловать на TechTalker, <span sec:authentication="name"></span>!</h1>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <h1>Добро пожаловать на TechTalker!</h1>
        </div>
    </header>

    <h2>Последние темы</h2>
    <table class="table table-bordered table-hover details-table mx-auto">
        <thead class="table-dark">
        <tr>
            <th scope="col">Тема</th>
            <th scope="col">Автор</th>
            <th scope="col">Время создания</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="topic : ${topics}" th:onclick="'window.location.href=\'/current_topic/' + ${topic.id} + '\''" style="cursor:pointer;">
            <td th:text="${topic.title}"></td>
            <td th:text="${topic.creatorName}"></td>
            <td th:text="${#temporals.format(topic.createdAt, 'dd.MM.yyyy  HH:mm')}"></td>
            <td th:text="${topic.status}"></td>
        </tr>
        </tbody>
    </table>
</div>
<footer class="text-center mt-5">
    <p>&copy; 2024 TechTalker Forum</p>
</footer>
</body>

</html>
