<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование сообщения - TechTalker</title>
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/icon.ico">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<style>
    body {
        background: url('/images/admin.jpeg');
    }
</style>
<div class="top-right-buttons">
    <a th:href="@{/}" class="btn btn-custom">Главная</a>
    <a th:href="@{'/admin/topics/edit/' + ${topicId}}" class="btn btn-custom">Назад к теме</a>
</div>
<div class="container mt-5">
    <div th:if="${successMessage}" class="alert alert-success" role="alert">
        <p th:utext="${successMessage}"></p>
    </div>
    <h2>Редактирование сообщения: </h2>
    <form th:action="@{/messages/update/{topicId}/{id}(topicId=${topicId}, id=${message.id})}" method="post">
        <div class="mb-3">
            <div class="card-body">
                <h5 class="card-title">[[${message.user.username}]]</h5>
                <label for="content"><textarea class="form-control" id="content" th:field="*{message.content}" rows="5"
                                               required></textarea> </label>
                <div class="d-flex justify-content-between">
                    <small class="text-muted">[[${#temporals.format(message.createdAt, 'dd.MM.yyyy HH:mm')}]]</small>

                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Сохранить изменения</button>
    </form>
</div>

<footer class="text-center mt-5">
    <p>&copy; 2024 TechTalker Forum</p>
</footer>
</body>
</html>