<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/icon.ico">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<style>
    body::before {
        background: url('/images/registration_page.jpeg');
    }
</style>


<div class="container">
    <form th:action="@{/registration}" th:object="${userForm}" method="post">
        <h2 class="text-center mb-4">Регистрация</h2>
        <div class="mb-3">
            <label>
                <input type="text" th:field="*{username}" class="form-control" placeholder="Username" autofocus/>
            </label>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger">
                Username Error
            </div>
            <div th:if="${usernameError}" th:text="${usernameError}" class="alert alert-danger"></div>
        </div>

        <div class="mb-3">
            <label>
                <input type="email" th:field="*{email}" class="form-control" placeholder="Email"/>
            </label>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger">Email Error
            </div>
        </div>
        <div class="mb-3">
            <label>
                <input type="password" th:field="*{password}" class="form-control" placeholder="Password"/>
            </label>
        </div>
        <div class="mb-3">
            <label>
                <input type="password" th:field="*{passwordConfirm}" class="form-control"
                       placeholder="Confirm your password"/>
            </label>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger">
                Password Error
            </div>
            <div th:if="${passwordError}" th:text="${passwordError}" class="alert alert-danger"></div>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-custom w-100 mb-3">Регистрация</button>
        </div>
        <div class="text-center">
            <a class="btn btn-link" th:href="@{/}">Назад</a>
        </div>
    </form>
</div>

<footer class="text-center mt-5">
    <p>&copy; 2024 TechTalker Forum</p>
</footer>
</body>
</html>